@model r2bw.Models.EventAttendanceModel

@{
    ViewData["Title"] = "Attendance";
}

<h2>Attendance</h2>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @Html.DisplayFor(modelItem => modelItem.Event.Name)
        @Html.DisplayFor(modelItem => modelItem.Event.Timestamp)
        @Html.DisplayFor(modelItem => modelItem.Event.Group.Name)
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Attendance">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Event.Id" />
            <div class="form-group">
                <label asp-for="Attendees" class="control-label">Attendees</label>
                <select asp-for="Attendees" class="form-control" asp-items="ViewBag.AllParticipants"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
