@model r2bw.Data.Attendance

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Attendance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="ParticipantId" class="control-label">Participant</label>
                <select asp-for="ParticipantId" class ="form-control" asp-items="ViewBag.Participants"></select>
            </div>

            <div class="form-group">
                <label asp-for="EventId" class="control-label">Event</label>
                <select asp-for="EventId" class ="form-control" asp-items="ViewBag.Events"></select>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
