@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Input.FirstName" class="control-label"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.LastName" class="control-label"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Email" class="control-label"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <h4>Passwords must:</h4>
                <ul>
                    <li>Be at least 8 characters</li>
                </ul>
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.DateOfBirth" class="control-label">Date of Birth</label>
                <input asp-for="Input.DateOfBirth" type="date" class="form-control" />
                <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Sex" class="control-label"></label>
                <select asp-for="Input.Sex" class ="form-control" >
                    <option value="">Select...</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <span asp-validation-for="Input.Sex" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Size" class="control-label"></label>
                <select asp-for="Input.Size" class ="form-control">
                    <option value="">Select...</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                    <option value="XXL">XXL</option>
                    <option value="XXXL">XXXL</option>
                </select>
                <span asp-validation-for="Input.Size" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.ShoeSize" class="control-label"></label>
                <select asp-for="Input.ShoeSize" class="form-control" place>
                    <option value="">Select...</option>
                    <option value="W 6">W 6</option>
                    <option value="W 6.5">W 6.5</option>
                    <option value="W 7">W 7</option>
                    <option value="W 7.5">W 7.5</option>
                    <option value="W 8">W 8</option>
                    <option value="W 8.5">W 8.5</option>
                    <option value="W 9">W 9</option>
                    <option value="W 9.5">W 9.5</option>
                    <option value="W 10">W 10</option>
                    <option value="W 10.5">W 10.5</option>
                    <option value="W 11">W 11</option>
                    <option value="W 11.5">W 11.5</option>
                    <option value="W 12">W 12</option>
                    <option value="W 12.5">W 12.5</option>
                    <option value="M 7">M 7</option>
                    <option value="M 7.5">M 7.5</option>
                    <option value="M 8">M 8</option>
                    <option value="M 8.5">M 8.5</option>
                    <option value="M 9">M 9</option>
                    <option value="M 9.5">M 9.5</option>
                    <option value="M 10">M 10</option>
                    <option value="M 10.5">M 10.5</option>
                    <option value="M 11">M 11</option>
                    <option value="M 11.5">M 11.5</option>
                    <option value="M 12">M 12</option>
                    <option value="M 12.5">M 12.5</option>
                    <option value="M 13">M 13</option>
                    <option value="M 13.5">M 13.5</option>
                    <option value="M 14">M 14</option>
                    <option value="M 14.5">M 14.5</option>
                    <option value="M 15">M 15</option>
                    <option value="M 15.5">M 15.5</option>
                </select>
                <span asp-validation-for="Input.ShoeSize" class="text-danger"></span>
            </div>

            <!-- <div class="form-group">
                <label asp-for="Input.Group" class="control-label"></label>
                <select asp-for="Input.GroupId" class ="form-control" asp-items="ViewBag.Groups"></select>
            </div> -->

            <div class="form-group">
                <label>By clicking submit below, you are indicating that you have read, understood, and agreed to the following:</label>
                <p>I agree and acknowledge that as a member of Running2bwell I know that walking, jogging and running in and volunteering for organized group runs, social events, and races with this club are potentially hazardous activities, which could cause injury or death. I will not participate in any club organized events, group training runs, walks and/or social events, unless I am medically able and properly trained, and by my signature, I certify that I am medically able to perform all activities associated with the club and am in good health, and I am properly trained.  
                </p>
                <p>I agree to abide by all rules established by the club, including the right of any official to deny or suspend my participation for any reason whatsoever. I attest that I have read the rules of the club and agree to abide by them.  I assume all risks associated with being a member of this club and participating in club activities which may include: falls, contact with other participants, the effects of the weather, including cold, ice snow, rain, wind, lightning, high heat and/or humidity, traffic and the conditions of the road. All such risks being known and appreciated by me. I understand that bicycles, skateboards, baby joggers, roller skates or roller blades, unleashed animals, and personal music players are not allowed to be used in club organized activities and I agree to abide by this rule.
                </p>
                <p>Having read this waiver and knowing these facts and in consideration of Running2bwell accepting my membership, I, for myself and anyone entitled to act on my behalf, waive and release Running2bwell, all club leaders and board members, their representatives and successors from all claims or liabilities of any kind arising out of my participation with the club, even though that liability may arise out of negligence or carelessness on the part of the persons named in this waiver.  I grant permission to all of the foregoing to use my photographs, motion pictures, recordings or any other record for any legitimate promotional purposes for the club.
                </p>
            </div>

            <div class="form-group">
                <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                <script type="text/javascript">
                    window.onload = function disallowSubmit() {
                        document.getElementById("btnSubmit").disabled = true;
                    };

                    function allowSubmit() {
                        document.getElementById("btnSubmit").disabled = false;
                    }
                </script>
                <div class="g-recaptcha" data-callback="allowSubmit" data-sitekey="6LfhTZwUAAAAAGSJDlFi55SNOE167Fnm-yzbe08o"></div>
                <input id="btnSubmit" type="submit" value="Submit" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
