@model r2bw.Data.User

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit User</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="WaiverSignedOn" />
            <input type="hidden" asp-for="Active" />

            @if (User.IsInRole("Administrator"))
            {
                <div class="form-group">
                    <label asp-for="DuesPaidOn" class="control-label"></label>
                    <input asp-for="DuesPaidOn" class="form-control" />
                    <span asp-validation-for="DuesPaidOn" class="text-danger"></span>
                </div>
            }

            @if (!User.IsInRole("Administrator"))
            {
                <div class="form-group">
                    <label asp-for="DuesPaidOn" class="control-label"></label>
                    <input asp-for="DuesPaidOn" class="form-control" disabled/>
                </div>
            }

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label">Date of Birth</label>
                <input asp-for="DateOfBirth" type="date" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Sex" class="control-label"></label>
                <select asp-for="Sex" class ="form-control" >
                    <option value="">Select...</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <select asp-for="Size" class ="form-control">
                    <option value="">Select...</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                    <option value="XXL">XXL</option>
                    <option value="XXXL">XXXL</option>
                </select>
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ShoeSize" class="control-label"></label>
                <select asp-for="ShoeSize" class="form-control" place>
                    <option value="">Select...</option>
                    <option value="W 6">W 6</option>
                    <option value="W 6.5">W 6.5</option>
                    <option value="W 7">W 7</option>
                    <option value="W 7.5">W 7.5</option>
                    <option value="W 8">W 8</option>
                    <option value="W 8.5">W 8.5</option>
                    <option value="W 9">W 9</option>
                    <option value="W 9.5">W 9.5</option>
                    <option value="W 10">W 10</option>
                    <option value="W 10.5">W 10.5</option>
                    <option value="W 11">W 11</option>
                    <option value="W 11.5">W 11.5</option>
                    <option value="W 12">W 12</option>
                    <option value="W 12.5">W 12.5</option>
                    <option value="M 7">M 7</option>
                    <option value="M 7.5">M 7.5</option>
                    <option value="M 8">M 8</option>
                    <option value="M 8.5">M 8.5</option>
                    <option value="M 9">M 9</option>
                    <option value="M 9.5">M 9.5</option>
                    <option value="M 10">M 10</option>
                    <option value="M 10.5">M 10.5</option>
                    <option value="M 11">M 11</option>
                    <option value="M 11.5">M 11.5</option>
                    <option value="M 12">M 12</option>
                    <option value="M 12.5">M 12.5</option>
                    <option value="M 13">M 13</option>
                    <option value="M 13.5">M 13.5</option>
                    <option value="M 14">M 14</option>
                    <option value="M 14.5">M 14.5</option>
                    <option value="M 15">M 15</option>
                    <option value="M 15.5">M 15.5</option>
                </select>
                <span asp-validation-for="ShoeSize" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Street1" class="control-label"></label>
                <input asp-for="Street1" class="form-control" />
                <span asp-validation-for="Street1" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Street2" class="control-label"></label>
                <input asp-for="Street2" class="form-control" />
                <span asp-validation-for="Street2" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Zip" class="control-label"></label>
                <input asp-for="Zip" class="form-control" />
                <span asp-validation-for="Zip" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
